@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
.app {
	width: auto;
	height: auto;
	display: flex;
}
.map {
	order: 2;
	flex-grow: 4;
	height:inherit;
    width: 200px;

}
.location_list {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
a,a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.search {
  width: 100%;
  border: 3px solid #685975;
  padding: 10px;
  height: 20px;
  border-radius: 7px;
  outline: none;
  color: #9DBFAF;
}

.search:focus{
  color: darkgray;
}
li:hover {
    background: darkgray;
    text-decoration: none;
    transition: all 0.3s;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    background:  #685975;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.wrapper {
    display: flex;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #685975;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #493E52;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #544363;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background:#544363;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #544363;
}
ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
.map_error {
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}
#content {
    min-height: 100vh;
    transition: all 0.3s;
    background: #493E52;
}
@media only screen and (max-device-width : 959px), only screen and (max-width : 959px)  {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
